/* Mobile scrolling smooth karne ke liye aur scrollbar hide karne ke liye */
.category-wrapper {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.category-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@media (max-width: 767px) {
    .category-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}